header {
  display: flex;
  height: 400px;
  flex-direction: column;
  background-color: #ffda7e;
  background-image: url(http://www.transparenttextures.com/patterns/cubes.png);
}

.avatar  {
  display: flex;
  justify-content: center;
  align-items: center;
}

.name  {
  display: flex;
  justify-content: center;
  align-items: center;
}